body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Set background color */
}

#container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff; /* Set container background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

h1 {
    text-align: center;
    color: #333;
}

#content {
    margin-top: 20px;
}

#loading {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: #777;
}

#jokeButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db; /* Set button background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

#jokeButton:hover {
    background-color: #2980b9; /* Change button color on hover */
}